---
services:
  web:
    restart: always
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - 8900:8000
    environment:
      - FLASK_ENV=production
    depends_on:
      - memcached

  memcached:
    image: memcached:latest
    restart: always
    ports:
      - 11211:11211
