<div class="footer">
    <p>With 💜, Scarlett from the Netherlands</p>
    <p>Powered by Flask⚗️ and Python🐍 [<a target="_blank" href="https://github.com/ScarlettSamantha/scarlettbytes">Source☍</a>]</p>
    <p>Current commit: {{ commit_hash }} on branch {{ branch_name }}</p>
    <p>This site respects your privacy: no tracking, no cookies🔒. Please be aware that ☍ links lead to external domains, which may have their own tracking policies.</p>
</div>
