<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="{{ author }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="{{ og_description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ og_url }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script defer src="https://umami.arcane-tech.nl/script.js" data-website-id="16b46f03-2d4b-409b-99ea-187f1c7f08f5"></script>
</head>
<body>
    <div class="container">
        {% include '_header.j2' %}
        
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        
        {% include '_footer.j2' %}
    </div>
</body>
</html>
